<IfModule mod_rewrite.c >
    RewriteEngine On
    RewriteRule .html index.php
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteRule ^(.*)$ ./Pages/Index.php?q=1 [L,QSA]
    ErrorDocument 404 ./Pages/Index.php?q=1 [L,QSA]
</IfModule>