.sidebar {
    /*Default Sidebar properties*/
    position: fixed;
    left: 0;
    bottom: 0;
    top: 7.5%;
    background-color: #c5c5c5;
    height: 100%;
    width: 7%;
    z-index: 200;
    padding-top: 5px;
    user-select: none;
}
.sidebar-link-this,
.sidebar-link {
    /*Default Sidebar-link/link-this properties*/
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link-this {
    /*Side Bar link-this inactive properties*/
    background: #e0dede;
}
.sidebar-link:hover{
    /*Side Bar link hover properties*/
    cursor:pointer;
    background: white;
}
.sidebar-link:active{
    /*Side Bar link active properties*/
    background: lightgray;
}
.sidebar-link-this img,
.sidebar-link img {
    /*Side Bar link/link-this image properties*/
    height: 30%;
    margin-bottom: 4px;
}   
.sidebar-link-this div,
.sidebar-link div {
    /*Side Bar link/link-this div properties*/
    font-size: 60%;
}
.bottom-aligner{
    /*Default Bottom aligner properties*/
    height: 40%;
}
.creator{
    /*Default Bottom aligner properties*/
    text-align: center;
    height: 4%;
}